.aboutbackground{
    background: linear-gradient(to top, #ffffffc6, #ffffff), url('../Images/background.jpg');
    background-position: bottom;
    background-size: cover;
}

.aboutDiv{
    min-height: 100vh;
    max-width:600px;
    text-align: center;
    margin: 50px auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
   
}
.letter h2{
    text-align: left;
    font-weight: normal;
}
@media all and (max-width: 650px) {
    .aboutDiv{
        margin: 25px auto;
    }
}