.height{
    min-height: 100vh;
    background: linear-gradient(to top, #ffffffc6, #ffffff), url('../Images/background.jpg');
    background-position: bottom;
    background-size: cover
}
.contactDiv{
    display: flex;
    flex-direction: column;

}
.contactGreeting{
    margin: auto;
    margin-top: 40px;
    max-width: 500px;
}
.contactGreeting p{
    text-align: justify;
    margin: 10px;
}
.formholder{
    display:flex;
	justify-content: center;
    align-items: center;
}  
form{
    display: flex;
    flex-direction: column;
}
input{
    font-size: 15px;
    padding-left:15px ;
}
.inputs{
    border-width:0 0 1px 0; 
    height: 30px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
    width: 300px;
}
.inputs:focus{
    background: rgb(199, 199, 199);
    border-width: 0px;
    outline: none;
}


textarea{
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
    border: none;
    outline: none;
    border-radius: 7px;
    height: 200px;
    font-size: 15px;
    padding-left:15px ;
    padding-top: 10px;
    width: 500px;
}
textarea:focus{
    outline: none;
    background: rgb(255, 255, 255);
}

.error{
    height: 20px;
}
.inputbox{
    text-align: center;
    margin: 10px;
   
}
.button{
    width: 100px;
    height: 25px;
    padding: 0;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
}

@media all and (max-width: 500px){
    textarea{
        width: 200px;
    }
    .inputs{
        height: 30px;
        border-radius: 7px;
        width: 200px;
    }
}