.contactDiv{
    display: flex;
    flex-direction: column;

}
.contactGreeting{
    margin: auto;
    margin-top: 40px;
    max-width: 400px;
}
.contactGreeting p{
    text-align: justify;
    margin: 10px;
}
.formholder{
    display:flex;
	justify-content: center;
    align-items: center;
}  
form{
    display: flex;
    flex-direction: column;
}
input{
    font-size: 15px;
    padding-left:15px ;
}
.inputs{
    border-width:0 0 1px 0; 
    height: 30px;
    border-radius: 2px;
    border-color: #b8b8b8;
    width: 300px;
}
.inputs:focus{
    background: rgb(199, 199, 199);
    border-width: 0px;
    outline: none;
}


textarea{
    background: rgb(230, 230, 230);
    border: none;
    outline: none;
    border-radius: 7px;
    height: 200px;
    font-size: 15px;
    padding-left:15px ;
    padding-top: 10px;
    width: 500px;
}
textarea:focus{
    outline: none;
    background: rgb(199, 199, 199);
}

.error{
    height: 20px;
}
.inputbox{
    text-align: center;
    margin: 10px;
   
}
.button{
    width: 100px;
    height: 25px;
    padding: 0;
}

@media all and (max-width: 500px){
    textarea{
        width: 200px;
    }
    .inputs{
        height: 30px;
        border-radius: 7px;
        width: 200px;
    }
}