.galleryDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;
  margin-top: 30px;
  background: linear-gradient(to top, #ffffffc6, #ffffff), url('../Images/background.jpg');
    background-position: bottom;
    background-size: cover;
}
.galleryimage{
    height: 400px;
    width: 400px;
    margin: 10px;
    object-fit: cover;
    border-radius:20px;
    box-shadow: 5px 5px 10px rgb(73, 73, 73);
}

@media screen and (max-width: 500px){
    .galleryimage{
        height: 300px;
        width: 300px;
        
    }
        
}