.contentDiv{
    min-height: 100vh;
    background: linear-gradient(to top, #ffffffcb, #ffffff), url('../Images/background.jpg');
    background-position: bottom;
    background-size: cover
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.siteholderimg{
    width: 100%;
    margin-top: 25px;
    max-width: 400px;
    height: auto;

}
.center{
    margin-top: 10px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menuButton{
    text-decoration: none;
    color: #00608d;
    background-color: white;
    border-style: solid;
    border-color: #000000;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}
.buttoncenter{
    text-align: center;
    margin: 10px;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.textalign{
    text-align: justify;
}
.medialinks{
    text-align: center;
}
.medialinks img{
    width: 100px;
    padding: 10px;
    padding-bottom: 20px;
}
.telnumber{
    text-decoration: none;
    color: black;
}
@media all and (max-width: 650px) {
    .siteholderimg{
        max-width: 250px;
        margin: 0px;
    }
    .content{
        flex-direction: column;
        
    }
    .center{
        margin-top: 0px;
    }
    h2{
        font-size: 20px;
    }
    .medialinks img{
        width: 60px;
    }
}
@media all and (max-width: 400px) {
    .menuButton{
        font-size: 20px;

    }
}