.contentDiv{
    min-height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.siteholderimg{
    width: 100%;
    margin-top: 50px;
    max-width: 400px;
    height: auto;

}
.center{
    margin-top: 10px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menuButton{
    text-decoration: none;
    color: #f4671f;
    border-style: solid;
    border-color: #f4671f;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}
.buttoncenter{
    text-align: center;
    margin: 10px;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.medialinks{
    text-align: center;
}
.medialinks img{
    width: 100px;
    padding: 10px;
    padding-bottom: 20px;
}
@media all and (max-width: 650px) {
    .siteholderimg{
        max-width: 250px;
        padding-bottom: 0px;
    }
    .content{
        flex-direction: column;
        
    }
    .center{
        margin-top: 0px;
    }
    h2{
        font-size: 20px;
    }
}