.contentDiv{
    min-height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.siteholderimg{
    width: 100%;
    margin-top: 50px;
    max-width: 400px;
    height: auto;

}
.center{
    margin-top: 50px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menuButton{
    text-decoration: none;
    color: #f4671f;
    font-size: 30px;
}
.buttoncenter{
    text-align: center;
    margin: 20px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
@media all and (max-width: 600px) {
    .siteholderimg{
        max-width: 300px;
    }
    .content{
        flex-direction: column;
    }
}